  <div class ="col-md-6 post-display">
    <div class="post-display-title">
      {{#link-to 'post' post.id}}
        {{post.title}}
      {{/link-to}}
    </div>
    {{#link-to 'post' post.id}}
      <img src="{{post.image}}">
    {{/link-to}}
  </div>
