body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
}

.navbar-default {
  background: #fff;
}

.main-body {
  margin-top: 6%;
}

.post-wrapper {
  margin-left: 10rem;
}

.post-display {
  height: 30rem;
  margin-bottom: 5%;
}

.post-display img{
  width: 40rem;
  height: 25rem;
  border-radius: 2%;
}

.post-display-title{
  position: absolute;
  margin-left: 0rem;
  margin-top: 18rem;
  background: rgba(0,0,0,0.4);
  color: #fff;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 10px;
  font-size: 1.2em;
  max-width: 30rem;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color .5s linear;
}

a:hover {
  color: #996633;
  text-decoration: none;
  transition: color .5s linear;
}
