<h1>About Us</h1>

<p> It should come as no surprise that we LOVE caffeine. It's what powers us to keep on keepin' on. We hope you enjoy our blog!</p>

<h4>Andrew</h4>
<p> Only drinks coffee on a leisurely Sunday or when he has time. Boring, I know. Enjoys walking through Forest Park with a Horse Mask. Don't ask.</p>
<p>andrew@drinkcoffee.com</p>


<h4>Jessica</h4>
<p> Enjoys drinking coffee all day everyday. She also enjoys squash.</p>
<p>jessica@drinkcoffee.com</p>
