<div class="post-header">
  {{model.title}}
</div>
<br>
<div class="post-user">
  Author: {{model.user}}
</div>
<hr>
<div class="post-body">
  {{model.body}}
</div>
<br>

{{edit-post destroyPost="destroyPost" model=model update="update"}}
